*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

/*       RETOQUES DE ESTILO PARA EL NAV SUPERIOR        */




/*       ESTILO PARA LAS TARJETAS             */
.contenedorTarjetas{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 200px;

}
.tarjeta{
	width: 200px;
	height: 200px;
	border: 1px solid;
	margin: 20px 5px;
	padding: 10px;
	text-align: center;

}
.textoClaro {
	color:#888888;
}

.caja-azul{
	border-color: #05F;
}
.caja-verde{
	border-color: #15A36F;
}
.caja-amarilla{
	border-color: #FF9900;
}



/*	 	ESTILOS PARA EL FORMULARIO 		*/

.contenedor-form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.formulario{
	background: #FFF;
	width: 670px;
	text-align: center;
	padding:20px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 30px) 50px 50px;
	grid-gap: 20px 5px;
}
#email{
	grid-column: 1/3;
}
#totalPagar{
	grid-column: 1/3;
	background-color: #92C7EF;
	border-radius: 6px;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
}

.botones{
	border-radius: 6px;
	background-color: #66D72E;
	color:white;
	height: 50px;
}